node_modules/
frontend/dist/
frontend/.next/
backend/node_modules/
backend/uploads/
Admin-front/dist/
Admin-front/.next/
Admin-front/node_modules/
Empleado-front/dist/
Empleado-front/.next/
Empleado-front/node_modules/
.env
backend/.env
*.log
*.tmp
